/* link for google font */
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

/*main background color and font*/
body {
    background-image: linear-gradient(to right top, #845ec2, #b45cb6, #d65fa5, #ed6993, #fa7a82, #ff8977, #ff9a6e, #ffac69, #ffbe66, #ffd166, #ffe469, #f9f871);
    background-repeat: no-repeat;
    font-family: 'Bubblegum Sans', cursive;
}

/*Heading of Game*/
.heading {
    color: white;
    font-size: 90px;
    text-align: center;
}

/*Game area*/
.flex-container {

    display: flex;
    justify-content: center;
}